    /* Custom CSS styles */
body {
      font-family: Arial, sans-serif;
      /* background-color:aqua; */
}
.jumbotron {
      background-color: #343a40;
      color: aquamarine;
      padding: 80px 20px;
      margin-bottom: 0;
    }
.portfolio-item {
      margin-bottom: 30px;
    }
.portfolio-item img {
      width: 100%;
      border-radius: 10px;
 }
 #portfolio
 {
  color: aquamarine; 
  text-align: center; 
  text-transform: capitalize; 
  font-size: larger; 
 }

 
.footer
{ 
     border-top:5px solid aqua ;
}

.footer>p{
      
margin-left: 100px;
}
#about
{
      margin-top: 150px;
}
#about h2
{
      color: aquamarine;
      
      text-align: center;
}
#about p{
      font-size: larger;
}

.rounded
{
      width: 300px;
      height: 300px;
      margin-left: 150px;
      
}